doctype html
html(class="no-js", lang="ru")
  include ../components/head/head.pug
  head
    +head(head.defaults)
  body.page
    |%=symbols=%

    .wrapper
      .content
        header.page-header
          .page-header__row-top
            .container.row.row--jc-sb.row--ai-c
              button.hamburger.hamburger--spin(type="button")
                span.hamburger-box
                  span.hamburger-inner
              .logo.logo--header
                a.logo__link.row.row--ai-c.text--td-none(href="index.html")
                  .logo__img-wrap.m--r25
                    img(src="%=static=%img/content/logo.png" alt="Осетинские пироги от Виктории")
                  .b
                    p.logo__slogan-text.text.text--white.text.m--b5.text--fs-1_41vw Осетинские пироги
                    p.logo__text-author.text.text--white С любовью от Виктории
              nav.page-header__nav-wrap.grow
                ul.nav--description.list.row.row--jc-sb
                  li.nav__items
                    a.nav__link.nav__link--company.d-block.text--white.text--td-none(href="#") О компании
                  li.nav__items
                    a.nav__link.nav__link--pay.d-block.text--white.text--td-none(href="#") Оплата
                  li.nav__items
                    a.nav__link.nav__link--delivery.d-block.text--white.text--td-none(href="#") Доставка
                  li.nav__items
                    a.nav__link.nav__link--actions.d-block.text--white.text--td-none(href="#") Акции
                  li.nav__items
                    a.nav__link.nav__link--reviews.d-block.text--white.text--td-none(href="#") Отзывы
                  li.nav__items
                    a.nav__link.nav__link--contacts.d-block.text--white.text--td-none(href="#") Контакты
              .user-block.user-block--header.row
                a.user-block__basket.row.row--jc-c.row--ai-c.b--w80.m--r15(href="#")
                  span.user-block__basket-indicator.d-block 0
                  span.user-block__basket-icon
                .b
                  p.user-block__work-time.text.text--white16.m--b10.p--l10 Время работы пекарни: с 9:00 до 21:00
                  .row.row--ai-c
                    span.user-block__phone-icon.m--r15
                      != pugHelpers.Icon.call(locals, {iconName: 'phone', className: 'phone'})
                    a.user-block__work-tel.text.text--white.text--fw700.text--fs-1_51vw(href="tel:+7952007580") +7 (495) 200-75-80
          .page-header__row-bottom.page-header__row-bottom--close
            .container
              ul.nav--navigation.list.row.row--jc-sb
                li.nav__items
                  a.nav__link.d-block.text--blue.text--td-none.text--uppercase.text--fw700(href="#") С мясом
                li.nav__items
                  a.nav__link.d-block.text--blue.text--td-none.text--uppercase.text--fw700(href="#") С курицей
                li.nav__items
                  a.nav__link.d-block.text--blue.text--td-none.text--uppercase.text--fw700(href="#") С рыбой
                li.nav__items
                  a.nav__link.d-block.text--blue.text--td-none.text--uppercase.text--fw700(href="#") С сыром
                li.nav__items
                  a.nav__link.d-block.text--blue.text--td-none.text--uppercase.text--fw700(href="#") С капустой
                li.nav__items
                  a.nav__link.d-block.text--blue.text--td-none.text--uppercase.text--fw700(href="#") С картошкой
                li.nav__items
                  a.nav__link.d-block.text--blue.text--td-none.text--uppercase.text--fw700(href="#") С грибами
                li.nav__items
                  a.nav__link.d-block.text--blue.text--td-none.text--uppercase.text--fw700(href="#") С луком
                li.nav__items
                  a.nav__link.d-block.text--blue.text--td-none.text--uppercase.text--fw700(href="#") С перцем
                li.nav__items
                  a.nav__link.d-block.text--blue.text--td-none.text--uppercase.text--fw700(href="#") С сладкие
                li.nav__items
                  a.nav__link.d-block.text--blue.text--td-none.text--uppercase.text--fw700(href="#") С постные
                li.nav__items
                  a.nav__link.d-block.text--blue.text--td-none.text--uppercase.text--fw700(href="#") С традиционные
        main.page-content
        
          .user-block.user-block--fixed
            ul.user-block__fixed-list.list.row.row--jc-sb.row--ai-c
              li.user-block__fixed-basket-list-item
                a.user-block__fixed-basket.row.row--ai-c.text--td-none(href="#")
                  .user-block__fixed-basket-result-left-wrap.row.row--ai-c.m--r30
                    span.user-block__fixed-basket-basket-icon.d-block.m--r15
                    p.user-block__fixed-basket-result.text
                      span.user-block__fixed-basket-result-span.user-block__fixed-basket-result-span--goods 0
                      | товаров
                  .b.row.row--ai-c
                    span.user-block__fixed-basket-purse-icon.d-block.m--r15
                      != pugHelpers.Icon.call(locals, {iconName: 'purse', className: 'purse'})
                    p.user-block__fixed-basket-result.text
                      span.user-block__fixed-basket-result-span.user-block__fixed-basket-result-span--price 0
                      | руб.
              li.user-block__fixed-list-work-time.row.row--ai-c
                span.user-block__fixed-basket-time-icon.d-block.m--r15
                  != pugHelpers.Icon.call(locals, {iconName: 'time', className: 'time'})
                p.user-block__fixed-basket-time-text.text Время работы пекарни:
                  br
                  | с 9:00 до 21:00
              li.user-block__fixed-list-favorite.row.row--ai-c
                span.user-block__fixed-basket-favorite-icon.d-block.m--r15
                  != pugHelpers.Icon.call(locals, {iconName: 'star-no-fill', className: 'star-no-fill'})
                a.user-block__fixed-basket-favorite-link.text--td-none(href="#") Добавить сайт в избранное
              li.user-block__fixed-list-socials.row.row--ai-c
                p.user-block__fixed-socials-text.text.text--black16.m--r15 Поделиться в соцсетях:
                ul.list.row
                  li.list--items-mr5
                    a.user-block__fixed-basket-socials.user-block__fixed-basket-socials--vk.d-block(href="#")
                  li.list--items-mr5
                    a.user-block__fixed-basket-socials.user-block__fixed-basket-socials--fb.d-block(href="#")
                  li.list--items-mr5
                    a.user-block__fixed-basket-socials.user-block__fixed-basket-socials--od.d-block(href="#")
                  li.list--items-mr5
                    a.user-block__fixed-basket-socials.user-block__fixed-basket-socials--g.d-block(href="#")
                  li.list--items-mr5
                    a.user-block__fixed-basket-socials.user-block__fixed-basket-socials--tw.d-block(href="#")
                  li.list--items-mr5
                    a.user-block__fixed-basket-socials.user-block__fixed-basket-socials--v.d-block(href="#")
                  li.list--items-mr5
                    a.user-block__fixed-basket-socials.user-block__fixed-basket-socials--wa.d-block(href="#")
              li.user-block__fixed-list-tel
                a.user-block__fixed-basket-tel.text--td-none(href="tel:+74952007580") +7 (495) 200-75-80
                
          .row
            aside.aside.aside--close
              .aside__content
                form.aside__filters(action="action.php" method="post")
                  h2.aside__filters-headline.text.text--red.text--uppercase.text--center.text--fs-1_25vw Подбор по параметрам:
                  .aside__border.aside__border--fill-gray
                  .aside__filters-link-wrap
                    span.aside__filters-link-icon.d-block
                    a.aside__filters-link.text.text--td-none.text--center.text--fw700(href="#") Найти пекарню по метро
                  .aside__border.aside__border--fill-gray.m--b15
                  .aside__filters-wrap.m--b25
                    .aside__filters-content.m--b20
                      h2.aside__filters-content-headline.text.text--black.text--fw700.m--b20 Основные фильтры:
                      .aside__filters-title.row.row--ai-c.m--b20
                        span.aside__filters-title-time-icon.d-block
                          != pugHelpers.Icon.call(locals, {iconName: 'time', className: 'time'})
                        h2.aside__filters-title-text.text.text--black.text--fw700 Режим работы
                        span.aside__filters-title-arrow.d-block
                      ul.aside__filters-description.list
                        li.list--items-mb20
                          input.aside__filters-description-input.input.input--checkbox(type="checkbox" name="checkbox" checked)#checkbox1
                          label.aside__filters-description-label.d-block(for="checkbox1")
                            span.aside__filters-checkbox-indicator.d-block
                            p.aside__filters-checkbox-text.text.text--grayMedium с 09:00
                        li.list--items-mb20
                          input.aside__filters-description-input.input.input--checkbox(type="checkbox" name="checkbox")#checkbox2
                          label.aside__filters-description-label.d-block(for="checkbox2")
                            span.aside__filters-checkbox-indicator.d-block
                            p.aside__filters-checkbox-text.text.text--grayMedium После 18.00
                        li.list--items-mb20
                          input.aside__filters-description-input.input.input--checkbox(type="checkbox" name="checkbox")#checkbox3
                          label.aside__filters-description-label.d-block(for="checkbox3")
                            span.aside__filters-checkbox-indicator.d-block
                            p.aside__filters-checkbox-text.text.text--grayMedium После 20.00
                    .aside__border.aside__border--fill-gray.m--b15
                    .aside__filters-content
                      .aside__filters-title.row.row--ai-c.m--b20
                        span.aside__filters-title-location-icon.d-block
                          != pugHelpers.Icon.call(locals, {iconName: 'location', className: 'location'})
                        h2.aside__filters-title-text.text.text--black.text--fw700 По расположению
                        span.aside__filters-title-arrow.d-block
                      ul.aside__filters-description.list
                        li.list--items-mb20
                          input.aside__filters-description-input.input.input--checkbox(type="checkbox" name="checkbox")#checkbox4
                          label.aside__filters-description-label.d-block(for="checkbox4")
                            span.aside__filters-checkbox-indicator.d-block
                            p.aside__filters-checkbox-text.text.text--grayMedium Внутри садового кольца
                        li.list--items-mb20
                          input.aside__filters-description-input.input.input--checkbox(type="checkbox" name="checkbox")#checkbox5
                          label.aside__filters-description-label.d-block(for="checkbox5")
                            span.aside__filters-checkbox-indicator.d-block
                            p.aside__filters-checkbox-text.text.text--grayMedium Внутри третьего кольца
                        li.list--items-mb20
                          input.aside__filters-description-input.input.input--checkbox(type="checkbox" name="checkbox")#checkbox6
                          label.aside__filters-description-label.d-block(for="checkbox6")
                            span.aside__filters-checkbox-indicator.d-block
                            p.aside__filters-checkbox-text.text.text--grayMedium В пределах МКАД
                        li.list--items-mb20
                          input.aside__filters-description-input.input.input--checkbox(type="checkbox" name="checkbox")#checkbox7
                          label.aside__filters-description-label.d-block(for="checkbox7")
                            span.aside__filters-checkbox-indicator.d-block
                            p.aside__filters-checkbox-text.text.text--grayMedium Ближайшие к моему метро
                  .row
                    button.aside__filters-submit-button.button.button--fill-yellow.button--p-tb15.text.text--black.text--fw700.text--fs-1_05vw(type="submit") Найти пекарню
                .aside__features
                  ul.list
                    li.aside__features-items
                      p.aside__features-item-text.aside__features-item-text--time.text.text--black.text--fs-1_09vw Доставка точно
                        br
                        | ко времени,
                        br
                        | от 30 минут
                    li
                      .aside__border.aside__border--fill-red
                    li.aside__features-items
                      p.aside__features-item-text.aside__features-item-text--map.text.text--black.text--fs-1_09vw Доставляем
                        br
                        | осетинские пироги
                        br
                        | по всей Москве
                    li
                      .aside__border.aside__border--fill-red
                    li.aside__features-items
                      p.aside__features-item-text.aside__features-item-text--rate.text.text--black.text--fs-1_09vw 15 лет на рынке.
                        br
                        | Топ позиции в
                        br
                        | рейтинге пекарен
                    li
                      .aside__border.aside__border--fill-red
                    li.aside__features-items
                      p.aside__features-item-text.aside__features-item-text--delivery.text.text--black.text--fs-1_09vw Бесплатная доставка
                        br
                        | при заказе от
                        br
                        | 1 000 рублей
            .content.b--resize-w70.grow
              h2.aside__filters-headline.text.text--red.text--uppercase.text--center.text--fs-1_25vw В корзине:
              form(action="action.php" method="post")
                .user-block__table-basket-wrap.m--b30
                  table.user-block__table-basket.m--b20
                    tr.user-block__table-basket-row-top
                      td.user-block__table-basket-row-top-td.user-block__table-basket-row-top-td--name
                        h2.user-block__table-basket-title.text.text--white19.text--center Наименование
                      td.user-block__table-basket-row-top-td
                        h2.user-block__table-basket-title.text.text--white19.text--center Цена
                      td.user-block__table-basket-row-top-td
                        h2.user-block__table-basket-title.text.text--white19.text--center Количество
                      td.user-block__table-basket-row-top-td
                        h2.user-block__table-basket-title.text.text--white19.text--center Сумма
                    - for (let i = 0; i < 3; i++)
                      tr.user-block__table-basket-row-cart
                        td.user-block__table-basket-name.row.row--ai-c
                          .user-block__table-basket-img-wrap
                            img.user-block__table-basket-img(src="%=static=%img/content/carts__good-img.jpg")
                          h2.aside__filters-title-text.aside__filters-title-text--basket.text.text--black.text--fw700 Со свекольными листьями, с нежным сыром и зеленью с грибами
                        td
                          .row.row--jc-c
                            p.user-block__table-basket-price 750
                            span.user-block__table-basket-price-span.m--t-a руб.
                        td
                          span.row.row--jc-c.row--ai-c
                            button.user-block__table-basket-cancel.button.m--r20(type="button")
                            .user-block__table-basket-payment-controls.row
                              button.user-block__table-basket-payment-control.user-block__table-basket-payment-control--minus.button.grow(type="button")
                              input.user-block__table-basket-payment-input.input.text--center.grow(type="text" value="1")
                              button.user-block__table-basket-payment-control.user-block__table-basket-payment-control--plus.button.grow(type="button")
                        td.user-block__table-basket-sum
                          .row.row--jc-c
                            p.user-block__table-basket-price 3 750
                            span.user-block__table-basket-price-span.m--t-a руб.
                  .user-block__table-basket-total-price-wrap.row.row--jc-fe
                    .user-block__table-basket-total-price.row.row--ai-c
                      p.user-block__table-basket-total-price-text.text Итого к оплате:
                      p.user-block__table-basket-total-price-sum.text 3 750 руб.
                .user-block__table-basket-order-wrap
                  .user-block__table-basket-order-content.row.row--jc-sb.row--ai-c
                    .user-block__table-basket-order-content-form.grow
                      h2.user-block__table-basket-order-content-headline.text.text--fw700.m--b15 Заполните контактные данные:
                      ul.reviews.list
                        li.row.m--b20.row--media570-column.m--media570-b0
                          .reviews__submit-input-wrap.reviews__submit-input-wrap--basket-order.grow
                            input.reviews__submit-input.input(type="text" placeholder="Ваше имя")
                            span.reviews__submit-input-indicator-person.d-block
                              != pugHelpers.Icon.call(locals, {iconName: 'person', className: 'person'})
                          .reviews__submit-input-wrap.grow
                            input.reviews__submit-input.input(type="tel" placeholder="Ваш телефон")
                            span.reviews__submit-input-indicator-tel.d-block
                              != pugHelpers.Icon.call(locals, {iconName: 'tel', className: 'tel'})
                        li.row.m--b20.row--media570-column.m--media570-b0
                          .user-block__basket-order-items-wrap.grow.m--r30
                            h2.user-block__table-basket-order-content-headline.m--b15 Ближайшая станция метро:
                            .user-block__basket-order-select
                              .user-block__basket-order-select-input-wrap
                                span.user-block__basket-order-select-input-icon.d-block
                                  != pugHelpers.Icon.call(locals, {iconName: 'metro', className: 'metro'})
                                input.user-block__basket-order-select-input.input(type="text" value="Цветной бульвар" readonly)
                                span.user-block__basket-order-select-input-arrow.d-block
                              .user-block__basket-order-select-content.hidden
                                p.user-block__basket-order-select-content-text.text Цветной бульвар
                                p.user-block__basket-order-select-content-text.text Панфиловская
                                p.user-block__basket-order-select-content-text.text Марьина роща
                                p.user-block__basket-order-select-content-text.text Маяковская

                          .user-block__basket-order-items-wrap
                            h2.user-block__table-basket-order-content-headline.m--b15 Адрес доставки:
                            .reviews__submit-input-wrap.reviews__submit-input-wrap--basket
                              input.reviews__submit-input.reviews__submit-input--address-basket.input(type="text")
                        li.m--b20
                          textarea.reviews__submit-textarea.input(placeholder="Комментарий к заказу")
                        li.m--b20.row.row--ai-c.row--media1590-column
                          p.user-block__basket-order-payment-method-headline.text Способы оплаты:
                          ul.list.row.row--media570-column
                            li.user-block__basket-order-payment-method-wrap
                              input.user-block__basket-order-payment-method-input.input.input--radio(type="radio" name="groupMethod" checked)#groupMethod1
                              label.user-block__basket-order-payment-method-text.d-block(for="groupMethod1") Наличными курьеру
                                span.user-block__basket-order-payment-method-indicator.d-block
                            li.user-block__basket-order-payment-method-wrap
                              input.user-block__basket-order-payment-method-input.input.input--radio(type="radio" name="groupMethod")#groupMethod2
                              label.user-block__basket-order-payment-method-text.d-block(for="groupMethod2") Банковская карта
                                span.user-block__basket-order-payment-method-indicator.d-block
                            li.user-block__basket-order-payment-method-wrap
                              input.user-block__basket-order-payment-method-input.input.input--radio(type="radio" name="groupMethod")#groupMethod3
                              label.user-block__basket-order-payment-method-text.d-block(for="groupMethod3") Сбербанк онлайн
                                span.user-block__basket-order-payment-method-indicator.d-block 
                        li.row.row--jc-sb.row--ai-c.row--media570-column
                          .user-block__basket-order-sell-wrap
                            input.aside__filters-description-input.input.input--checkbox(type="checkbox" name="checkboxSell" checked)#checkboxSell
                            label.aside__filters-description-label.aside__filters-description-label--order-sell.d-block(for="checkboxSell") Скидка в день рождения -10%
                              span.aside__filters-checkbox-indicator.d-block
                          button.aside__filters-submit-button.aside__filters-submit-button--order-basket.button.button--fill-green.button--p-tb15.text.text--white.text--fw700.text--fs-1_05vw Подтвердить заказ
                    .user-block__table-basket-order-content-img-wrap
                      img.user-block__table-basket-order-content-img(src="%=static=%img/content/user-block-basket-order-img.jpg")
        
      footer.page-footer
        .footer-content
          .footer-content__row-top
            .container.container--footer.row.row--jc-sb.m--b15
              .footer-content__row-top-block-left
                .logo.logo--footer
                  a.logo__link.row.row--ai-c.text--td-none(href="index.html")
                    .logo__img-wrap.m--r25
                      img(src="%=static=%img/content/logo.png" alt="Осетинские пироги от Виктории")
                    .b
                      p.text.text--white.text.m--b5.text--fs-1_41vw Осетинские пироги
                      p.text.text--white С любовью от Виктории
                .user-block.user-block--footer.column
                  p.user-block__work-time.text.text--white16.m--b15.p--l10 Время работы пекарни: с 9:00 до 21:00
                  .footer-content__row-top-tel-wrap.row.row--ai-c
                    span.user-block__phone-icon.m--r15
                      != pugHelpers.Icon.call(locals, {iconName: 'phone', className: 'phone'})
                    a.user-block__work-tel.text.text--white.text--fw700.text--fs-1_51vw(href="tel:+7952007580") +7 (495) 200-75-80
                .footer-content__payment-wrap.row.row--ai-c
                  h2.footer-content__payment.m--r15 Можно оплатить:
                  a.footer-content__payment-icon(href="#")
              .footer-content__row-top-block-right.grow
                ul.nav--description.nav--footer.list.row.row--jc-sb
                  li.nav__items
                    a.nav__link.nav__link--company.d-block.text--white.text--td-none(href="#") О компании
                  li.nav__items
                    a.nav__link.nav__link--pay.d-block.text--white.text--td-none(href="#") Оплата
                  li.nav__items
                    a.nav__link.nav__link--delivery.d-block.text--white.text--td-none(href="#") Доставка
                  li.nav__items
                    a.nav__link.nav__link--actions.d-block.text--white.text--td-none(href="#") Акции
                  li.nav__items
                    a.nav__link.nav__link--reviews.d-block.text--white.text--td-none(href="#") Отзывы
                  li.nav__items
                    a.nav__link.nav__link--contacts.d-block.text--white.text--td-none(href="#") Контакты
                .footer-content__nav-wrap.grow
                  .footer-content__headline-wrap.m--b15
                    h2.footer-content__headline Осетинские пироги:
                  ul.nav--navigation.nav--navigation-footer.list.row.row--jc-sb.m--b15
                    li.nav__items
                      a.nav__link.d-block.text--white.text--td-none.text--uppercase.text--fw700(href="#") С мясом
                    li.nav__items
                      a.nav__link.d-block.text--white.text--td-none.text--uppercase.text--fw700(href="#") С курицей
                    li.nav__items
                      a.nav__link.d-block.text--white.text--td-none.text--uppercase.text--fw700(href="#") С рыбой
                    li.nav__items
                      a.nav__link.d-block.text--white.text--td-none.text--uppercase.text--fw700(href="#") С сыром
                    li.nav__items
                      a.nav__link.d-block.text--white.text--td-none.text--uppercase.text--fw700(href="#") С капустой
                    li.nav__items
                      a.nav__link.d-block.text--white.text--td-none.text--uppercase.text--fw700(href="#") С картошкой
                  ul.nav--navigation.nav--navigation-footer.list.row.row--jc-sb
                    li.nav__items
                      a.nav__link.d-block.text--white.text--td-none.text--uppercase.text--fw700(href="#") С грибами
                    li.nav__items
                      a.nav__link.d-block.text--white.text--td-none.text--uppercase.text--fw700(href="#") С луком
                    li.nav__items
                      a.nav__link.d-block.text--white.text--td-none.text--uppercase.text--fw700(href="#") С перцем
                    li.nav__items
                      a.nav__link.d-block.text--white.text--td-none.text--uppercase.text--fw700(href="#") С сладкие
                    li.nav__items
                      a.nav__link.d-block.text--white.text--td-none.text--uppercase.text--fw700(href="#") С постные
                    li.nav__items
                      a.nav__link.d-block.text--white.text--td-none.text--uppercase.text--fw700(href="#") Традиционные
            .footer-content__row-top-icon-wrap
              .container.container--footer
                .row.row--jc-fe
                  span.footer-content__row-top-icon
          .footer-content__row-bottom
            .container.container--footer
              .footer-content__row-bottom-copyright-wrap.row.row--jc-sb.row--ai-c
                p.footer-content__copyright © 2006 - 2018 Осетинские пироги
                .row.row--ai-c
                  a.footer-content__developers(href="#") Создание и продвижение сайтов

    script(src='%=static=%js/separate-js/svg4everybody.min.js')
    script svg4everybody();

    //- Main scripts. You can replace it, but I recommend you to leave it here
    script(src='%=static=%js/main%=hash=%%=min=%.js')
