// Common styles of the project

html,
body
  height 100%
  
.aside-open
  overflow hidden

.wrapper
  display flex
  flex-direction column
  height 100%

.content
  flex 1 0 auto

.page-footer
  flex 0 0 auto
  
.container
  max-width 1880px
  margin 0 auto
  padding 0 20px
  &--footer
    padding 0 100px
  
img
  width 100%
  height auto
  
@media(max-width 1199px)
  .container
    &--footer
      flex-direction column-reverse
      padding 0 20px
