// Colors

black = #000000;

white = #ffffff;
whiteMedium = #F2F2F2;

blue = #198CFF;

red = #F1433D;

gray = #c1bcbc;
grayMediumLight = #a9a9a9;
grayMedium = #696969;
grayDark = #2b2b2b;

green = #32cd32;

yellow = #fede47;