.button
  reset-button()
  
  box-sizing border-box
  display block
  width 100%
  
  text-align center
  
  border-radius 5px
  
  cursor pointer
  &--fill-yellow
    background-color yellow
    
    transition 0.2s linear
    &:hover
      background-color #FED530
  &--fill-green
    background-color green
    
    transition 0.2s linear
    &:hover
      background-color #41DC43
      
  &--p-tb15
    padding-top 15px
    padding-bottom 15px
  &--p-tb14
    padding-top 14px
    padding-bottom 14px