.m
  &--t-a
    margin-top auto
  
  &--r-a
    margin-right auto
  &--r100
    margin-right 100px
  &--r30
    margin-right 30px
  &--r25
    margin-right 25px
  &--r20
    margin-right 20px
  &--r15
    margin-right 15px
  &--r10
    margin-right 10px
  
  &--b40
    margin-bottom 40px
  &--b30
    margin-bottom 30px
  &--b25
    margin-bottom 25px
  &--b20
    margin-bottom 20px
  &--b15
    margin-bottom 15px
  &--b10
    margin-bottom 10px
  &--b5
    margin-bottom 5px
    
@media(max-width 570px)
  .m
    &--b0
      margin-bottom 0