.row
  row()
  &--reverse
    row-reverse()
  &--jc-fs
    row-jc-fs()
  &--jc-fe
    row-jc-fe()
  &--jc-c
    row-jc-c()
  &--jc-sa
    row-jc-sa()
  &--jc-sb
    row-jc-sb()
  &--ai-c
    row-ai-c()
  
  &--wrap
    wrap()
    
.grow
  flex-grow 1
  
@media(max-width 1590px)
  .row
    &--media1590-column
      flex-direction column
      
@media(max-width 570px)
  .row
    &--media570-column
      flex-direction column